*, ::before, ::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    
}

html,
body {

}
html,
body,
#root,
.App,
.fullheight{
    height: 100%;
}

body {
    font-family: 'Raleway';
}
.App {
    margin-top: 24px;
    margin-left: 102px;
    margin-right: 102px;
}

.main {
    height: calc(100% - 8rem);
}